<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{title}}
    </ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="margin-left: 40px;">
    <p><strong>Next technologies used on creating this project:</strong></p>
<ul>
<li><strong>BackEnd</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http server: nodejs<a (click)="common.goToLink('https://docs.nestjs.com/')">(nestjs framework)</a></strong></p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;database:&nbsp; &nbsp; <a (click)="common.goToLink('https://www.mongodb.com/')">MongoDB</a></strong></p>
<ul>
<li><strong>FrontEnd</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; Angular(<a (click)="common.goToLink('https://ionicframework.com/')">Ionic framework</a>)</strong></p>
<ul>
<li><strong>Code Editor&nbsp;</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a (click)="common.goToLink('https://code.visualstudio.com')">Visual Studio Code</a></strong></p>
<ul>
<li><strong>Deployment</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a (click)="common.goToLink('https://www.docker.com')">Docker</a></strong></p>
<ul>
<li><strong>Domain Name Registration</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a (click)="common.goToLink('https://www.internic.co.il')">Internic</a></strong></p>
<ul>
<li><strong>Cloud Application Platform</strong></li>
</ul>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a (click)="common.goToLink('https://www.heroku.com')">Heroku</a></strong></p>
<p>&nbsp;</p>
  </div>
</ion-content>
