<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{title}}
    </ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: 40px;">
    <h2>Projects:</h2>
    <ol>
    <li>Management Intrusion Detection Systems.</li>
    <li>Management Bluetooth Device Placement.</li>
    <li>Management Parking Areas Local Station.</li>
    <li>Cloud API Parking Areas Local Stations.</li> 
    <li>Cloud Management Parking Areas Local Station.</li>
    </ol>
    <p>&nbsp;</p>
    <p>Projects Basics:</p>
    <p>Backend: node js(nestjs microservices), MongoDB</p>
    <p>Frontend: Angular/Ionic for desktop/mobile browser, android&nbsp; app</p>
    <p>Devices interface: C++, CS, JAVA</p>
    <p>Physical devices: intrusion controllers, bluetooth&nbsp; devices, android devices, LPR cameras, others controllers types</p>
  </div>
</ion-content>
