<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{title}}
    </ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img-schema" src="..//assets//images//parkinglocal.png" alt="parkinglocal">

  <video class="img-schema" width="640" height="480" controls>
    <source src=".//assets//video//parking.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</ion-content>
