<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{title}}
    </ion-title>

    <ion-buttons *ngIf="true" slot="end">
      
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="margin-top: 50px;">&nbsp; 2015 - 2016&nbsp; &nbsp;
      <a (click)="common.goToLink('https://www.hashavim.co.il/')">Hashavim LTD</a>
  </div>
  <div>&nbsp; &nbsp; &nbsp;Development desktop applications for Lawyer Offices&nbsp;</div>
  <div>&nbsp; &nbsp; &nbsp; &nbsp; Delphi, CS, Windows</div>

  <div style="margin-top: 50px;">&nbsp; 2011 - 2014&nbsp; &nbsp;
    <a (click)="common.goToLink('https://www.sysaid.com/')">SYSAID LTD</a>
  </div>
  <div>&nbsp; &nbsp; &nbsp; &nbsp;Development background applications for collection of information</div>
  <div>&nbsp; &nbsp; &nbsp; &nbsp;about computer OS, hardware, software.</div>
  <div>&nbsp; &nbsp; &nbsp; &nbsp;OS: Windows, Linux, IOS</div>
  <div>&nbsp; &nbsp; &nbsp; &nbsp;Languages: Delphi, C, C++, Java</div>
  <br />
  

</ion-content>
